.servicespage-all{
    margin-top: 80px;
}

.servicespage-h1-wrap{
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
}

.servicespage-h1{
    background: #F8F8F8;
    color: var(--dark);
}
.servicespage{
    max-width: 1400px;
    margin: 0 auto;
    padding: 4rem 2rem;
}





.servicespg-cards{
    display: grid;
}

.service-card{
    margin-bottom: 3rem;
    color: var(--dark)
}

.service-card h3{
    margin-bottom: 1rem;
    font-weight: 600;
}

.service-card p{
    margin-bottom: 1rem;
    font-weight: 400;
}



.book-arrow-service{
    text-decoration: none;
    color: var(--medium);
    font-size: 14px;
}

.service-arrow{
    /* margin-right: 5px; */
    width:35px;
}





.quote-container{
   background-image: url(../../img/phony.png);
   background-size: cover;
   background-repeat: no-repeat;
   /* background-position: -600px; */
   position: relative;
}

.quote-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.35) 100%, rgba(0,0,0,0.35) 100%), linear-gradient(180deg, rgba(0,0,0,0.35) 0%, transparent 100%);
    z-index: 1;
}

.quote{
    padding: 4rem 2rem;
    color: var(--white);
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.quote h2{
    font-weight: 600;
    margin-bottom: 1rem;
}

.quote-p{
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: .9rem;
    line-height: 1.4;
    color: #c9c8c8;


}

.or {
    background: var(--grey);
    color: var(--dark);
    font-weight: bold;
    border-radius: 100%;
    padding: .5rem;
    margin: 0 1rem;
}

.bookvisit-btn{
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    font-size: .8rem;
    padding: .75rem 1.25rem;
    background-color: var(--medium);
    border-radius: 7px;
}

.sp-number {
    font-weight: 600;
    margin-left: .5rem;
}


@media screen and (min-width:850px){
    .servicespg-cards{
       grid-template-columns: 1fr 1fr;
       grid-gap: 2rem;
    }
}

@media screen and (min-width:1400px){
    .servicespg-cards{
       grid-gap: 5rem;
    }
}



@media screen and (max-width:846px){
    .quote-container{
        background-position: -50px;
    }
}

@media screen and (max-width:752px){
    .quote-container{
        background-position: -200px;
    }
}

@media screen and (max-width:652px){
    .quote-container{
        background-position: -500px;
    }
}

@media screen and (max-width:572px){
    .quote-container{
        background-position: -600px;
    }
}

@media screen and (min-width: 1110px){
    .quote-container{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .quote-p{
        max-width: 700px;
        font-size: 1rem;
    }

    .or{
        margin: 0 4rem;
    }
}









